.add_comment{
     min-height: 15em;
    background: #f8f8f8;
    padding: 1.5em;
    border-radius: .6em;
    border: 1px solid rgba($color: $dark_color, $alpha: .1);
     h3{
        font-weight: 500;
        margin-bottom: 1em;
        font-size: 1.3em;
    }
}