.course_card {
    width: 100%;
    background: white;
    border-radius: 0.6em;
    overflow: hidden;
    transition: 0.4s;
    &:hover {
        box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.08);
        transform: translateY(-.4em);
        .course_card_image {
            img {
                transform: scale(1.1);
            }
        }
        .course_card_content {
            p {
                color: $dark-color;
            }
            .course_card_content_details {
                .course_card_content_details_item {
                    color: $dark-color;
                }
            }
        }
    }
    .course_card_image {
        height: 15em;
        background: gray;
        overflow: hidden;
        position: relative;
        .course_card_image_progress {
            width: 4em;
            height: 4em;
            position: absolute;
            top: 1em;
            left: 1em;
            border-radius: 50%;
            z-index: 2;
            background: $white-color;
            display: flex;
            align-items: center;
            justify-content: center;
            *:not(.ant-progress-text) {
                width: 100% !important;
                height: 100% !important;
            }
            .ant-progress-text {
                color: $red-color !important;
                font-size: 0.8em;
                font-weight: 500;
            }
            :where(.css-dev-only-do-not-override-nqoqt9).ant-progress .ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
                stroke: $red-color !important;
                stroke-width: 4px !important;
            }
        }
        img {
            transition: $delay;
            object-fit: cover;
        }
    }
    .course_card_content {
        padding: 2em 2em;
        // height: 26em;
        h3 {
            font-size: 1.2em;
            margin-bottom: 0.7em;
            font-weight: 500;
        }
        p {
            color: $gray-text-color;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            font-weight: 500;
            -webkit-line-clamp: 2;
            overflow: hidden;
            transition: 0.4s;
        }
        .course_card_content_rate {
            margin-top: 2em;
            .course_card_content_rate_icons {
                gap: 0.5em;
                svg {
                    font-size: 1.2em;
                    color: "#f8b81f";
                    &.gold {
                        color: $yellow-color;
                    }
                }
            }
            span {
                font-weight: 500;
            }
        }
        .course_card_content_details {
            @include grid2;
            gap: $menu-gap;
            margin-bottom: 2em;
            // height: 5em;
            margin-top: 2em;
            .course_card_content_details_item {
                gap: 1em;
                color: $gray-text-color;
                transition: .4s;
                span {
                    font-weight: 500;
                }
                svg {
                    font-size: 1.2em;
                    margin-top: 4px;
                }
            }
        }
    }
    &.course_card_hide {
        .course_card_content {
            p {
                margin-bottom: 2em;
                width: 70%;
            }
        }
    }
    .custom_btn{
        width: 100%;
        align-items: center;
        text-align: center;
        // margin: auto;
        button{
            background-color: #f2efec;
        }
    }
}
.course_dip{
    width:20em !important;
    align-items: center;
    text-align: center;
    // margin: auto;
    button{
        background-color: #f2efec;
    }
}
.yellow-stars .ant-rate-star {
    color: #ffd700; /* Yellow color for stars */
  }
  
  .yellow-stars .ant-rate-star-half .ant-rate-star-first,
  .yellow-stars .ant-rate-star-full .ant-rate-star-second {
    color: #ffd700; /* Yellow color for half-filled stars */
  }
.dark_theme {
    .course_card {
        background: $dark-bg;
        
        .course_card_content {
            color: $white-color;
            .course_card_content_rate {
                .course_card_content_rate_icons {
                    svg {
                        color: rgba($color: $white-color, $alpha: 0.1);
                        &.gold {
                            color: $yellow-color;
                        }
                    }
                }
            }
            .course_card_content_details {
                .course_card_content_details_item {
                    color: $gray-text-color;
                }
            }
        }
        &:hover {
            box-shadow: 0 0 40px 0 rgba($color: $dark-color, $alpha: .5);
            .course_card_content{
                p,h3{
                    color: $white-color;
                }
                .course_card_content_details{
                    .course_card_content_details_item{
                        color: $white-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .course_card {
        &.course_card_hide {
            .course_card_content {
                p {
                    margin-bottom: 2em;
                    width: 100%;
                }
            }
        }
    }
    
}
@media (max-width: 768px) {
    .custom_btn{
        width: 100% !important;
        align-items: center;
        text-align: center;
        margin: auto;
        button{
            background-color: #f2efec;
        }
    }
    
}



