.ads_container{
    height: 10em;
    position: relative;
    .ads_section {
        height: 100%;
        width: 100%;
        display: inline-block;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .ads_section_overlay {
            position: absolute;
            background-color: rgba($color: $dark-color, $alpha: 0.5);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: $white-color;
            h2{
                font-weight: 400;
            }
        }
    }
    @media screen and (max-width: 1024px) {
        height: 28em;
    }
}
