.header {
    padding-block: 0.5em;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
    height: 6em;
    position: sticky;
    top: 0;
    z-index: 10;
    background: $white-color;
    // padding-inline-start: 0;
    // &.header_player {
    //     position: static;
    // }
    .header-right-container {
        gap: $menu-gap;

        .header-logo {
            width: 10em;
            height: 4.5em !important;
            img {
                object-fit: contain;
            }
        }
    }
    .header-links {
        gap: $menu-gap;
        a {
            font-weight: 600;
            font-size: 1em;
            color: $primary-color;

            transition: 0.4s;
            &.active {
                color: $primary-color;
            }
            &:hover {
                color: $red-color;
                transform: translateY(-0.2em);
                @media screen and (max-width: 1024px) {
                    color: $primary-color;
                    transform: none;
                }
            }
        }
    }
    .header-service {
        gap: $menu-gap;
        .header-service-cart {
            cursor: pointer;
            position: relative;
            transition: 0.4s;
            span {
                position: absolute;
                top: -11.5px;
                right: -9.2px;
                width: 1.5em;
                height: 1.5em;
                border-radius: 50%;
                display: flex;
                background: #fff;
                color: #222d5d;
                border: 1.65px solid #222d5d;
                transition: 0.4s;
                @media  screen and (max-width: 600px) {
                    top: -7.3px;
                    right: -7.2px;
                    border-width: 1px;
                }
            }
            svg {
                color: $primary-color;
                transition: 0.4s;
            }
            &:hover {
                transform: translateY(-0.2em);
                svg {
                    color: $red-color;
                }
                span {
                    border-color: $red-color;
                    color: $red-color;
                }
            }
        }
        .header-service-mode {
            cursor: pointer;
            transition: 0.4s;
            svg {
                color: $primary-color;
                transition: 0.4s;
            }
            &:hover {
                svg {
                    color: $red-color;
                }
                transform: translateY(-0.2em);
            }
            &.show {
                display: flex;
            }
        }
        .toggle_bar {
            cursor: pointer;
            display: none;
            color: $primary-color;
        }
        .user_menu {
            .user_menu_icon {
                color: $primary-color;
                cursor: pointer;
                font-size: 2em;
                *{
                    stroke-width: 1.2px;
                }
            }
            .user_menu_list {
                padding: 1.5em;
                min-width: 15em;
                position: absolute;
                // z-index: 10;
                background: white;
                bottom: -10em;
                right: 5em;
                box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
                opacity: 0;
                visibility: hidden;
                transition: $delay;
                display: flex;
                flex-direction: column;
                gap: $menu-gap;
                font-weight: 500;
                * {
                    cursor: pointer;
                }
                *:hover {
                    color: $red-color;
                }
            }
            &:hover .user_menu_list {
                opacity: 1;
                visibility: visible;
            }
        }
        .custom_btn {
            button {
                color: $red-color;
                background-color: transparent;
                padding: 0;
                transition: 0.4s;
                span {
                    transition: 0.4s;
                }
                // color: $dark-color;
                &::after {
                    display: none;
                }
                &:hover {
                    color: $primary-color;
                    transform: translateY(-0.2em);
                }
            }
        }
    }
    .mobile-menu-container {
        position: fixed;
        height: 100dvh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: $delay;
        .mobile-menu {
            width: 20%;
            height: 100%;
            background: $white-color;
            // padding: 2em;
            transform: translateX(-100%);
            transition: $delay 0.2s;
            .menu-mobile_logo {
                padding: 2.5em;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
            .close_menu {
                width: 5.5em;
                height: 5.5em;
                border-radius: 50%;
                transition: $delay;
                cursor: pointer;
                color: rgba($color: $dark-color, $alpha: 0.5);
                // &:hover {
                //     background: $primary-color;
                //     svg {
                //         color: $white-color;
                //     }
                // }
                // @media screen and (max-width: 1024px) {
                //     & {
                //         background: $primary-color;
                //         svg {
                //             color: $white-color;
                //         }
                //     }
                // }
            }
            .header-links {
                flex-direction: column;
                a {
                    padding: 2em;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    color: $gray-text-color;
                    font-weight: 500;
                    font-size: 1.3em;
                    color: #444;
                    &.active {
                        color: $primary-color;
                    }
                }
            }
        }
        &.active_menu {
            opacity: 1;
            visibility: visible;
            .mobile-menu {
                transform: translate(0);
            }
        }
    }
    &.dark_theme {
        background: $dark-bg;
        .header-links {
            a {
                color: $white-color !important;
                &:hover {
                    color: $red-color !important;
                }
            }
        }
        .custom_btn {
            button {
                span {
                    color: $red-color !important;
                }
                &:hover {
                    span {
                        color: $white-color !important;
                    }
                }
            }
        }
        .header-right-container {
        }
        .header-service {
            .header-service-cart {
                span {
                    transition: 0.4s;
                    background: $dark-bg;
                    border-color: $white-color;
                    color: $white-color;
                }
                svg {
                    color: $white-color;
                    transition: 0.4s;
                }
                &:hover {
                    svg {
                        color: $red-color;
                    }
                    span {
                        border-color: $red-color;
                        color: $red-color;
                    }
                }
            }
            .lang_swither {
                color: $white-color;
                &:hover {
                    color: $red-color;
                }
            }
            .toggle_bar {
                color: $white-color;
            }
            .user_menu {
                .user_menu_icon {
                    color: $white-color;
                }
            }
            .user_menu_list {
                background: $second-color;
                * {
                    color: $white-color;
                }
            }
        }
        .mobile-menu-container {
            .mobile-menu {
                background: $dark-bg;
                .menu-mobile_logo {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }
                .header-links {
                    a {
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                        color: $gray-text-color;
                        &.active {
                            color: $white-color !important;
                        }
                    }
                }
            }
        }
        .mobile_lang {
            color: $white-color;
        }
    }
}

.header-logo {
    width: 5.5em;
    height: 4.5em !important;
    img {
        object-fit: contain;
    }
}
.lang_swither {
    color: $primary-color;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        color: $red-color;
        transform: translateY(-0.2em);
    }
}
.dark_theme {
    .header {
        .header-links {
            a {
                color: $white-color !important;
                &.active {
                    color: $white-color !important;
                }
            }
        }
        .header-right-container {
        }
    }
}

@media (max-width: 1024px) {
    .header {
        & .header-links {
            display: none;
        }
        .mobile-menu-container {
            .header-links {
                display: flex;
                a{
                    color: $primary-color !important;
                }
            }
            .lang_swither {
                padding: 2em;
                font-size: 1.3em;
                font-weight: 500;
            }
            .header-logo{
                width: 15em;
                height: 6.5em !important;
            }
        }

        .lang_swither:not(.mobile_lang) {
            display: none;
        }
        .mobile-menu-container {
            .mobile-menu {
                width: 100%;
            }
        }
        .header-service {
            .toggle_bar {
                display: block;
                font-size: 2em;
            }
        }
    }
}
