//spacer
$menu-gap:1.5em;
$sm-rounded:.5em;
$md-rounded:1em;
$lg-rounded:2em;
$delay:.4s ease-in-out;
//colors
$primary-color:#222D5D;
$second-color:#111822;
$white-color:#fff;
$dark-color:#000;
$red-color:#EB7236;
$yellow-color:#f8b81f;
$gray-text-color:#808080;
$gray-color:#F3EBE1;


// dark mode 
$dark-bg:#1c242f;